@import '_common.scss';

h2 {
  margin-top: 0;
}

.plots {
  overflow: auto;
}

.spectrogram {
  display: block;

  &.timespan-2hr {
    float: left;
  }
  &.timespan-24hr {
    margin: 0 auto;
  }
}

.thumbs {
  display: flex;
  flex-flow: row wrap;

  h4 {
    margin-top: 0;
  }
  li {
    border: 2px solid transparent;
    margin: 0 .5em;
    padding: 2px 4px;
    text-align: center;
    width: 150px;

    &.selected {
      border-color: #0c0;
    }
  }
}
