@import '_common.scss';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h2 {
  margin-top: 0;
}

.plots {
  display: flex;
  flex-flow: row wrap;

  .fullsize {
    flex-grow: 0;
    flex-shrink: 1;
    position: relative;
  }
  .thumbs {
    flex: 1 0 0;
  }
}

.spectrogram {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &.fadeIn {
    animation: fadeIn .75s;
  }
  &.timespan-24hr {
    margin: 0 auto;
  }
}

.thumbs ul {
  display: flex;
  flex-flow: row wrap;

  h4 {
    margin: 0;
  }
  li {
    border: 2px solid transparent;
    margin: .5em 0 0 .5em;
    padding: 2px 4px 0 4px;
    text-align: center;
    width: 150px;

    &.selected {
      border-color: #0c0;
    }
  }
}
